.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recipeitem {
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(93, 100, 111, 0.3);
  background-color: $secondaryLight;
  border-radius: 10px;
  color: $fontLight;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
